mixin icon(name)
  svg(class='icon icon--' + name, fill='currentColor')
    use(href='img/svg-sprite.svg#' + name)

mixin product(img, name, price, category, grammage)
  .card.border-0.rounded-0
    .position-relative
      img.card-img-top(src=img, alt=name)
      .position-absolute.end-0.bottom-0.d-flex.align-items-center.column-gap-2.pe-3
        span.text-danger.fw-light
          s $48.00
        span.badge.badge-discount.fw-medium.fs-16 -20%
    .card-body.ps-0.pt-2.pe-5
      .d-flex.justify-content-between.align-items-center.column-gap-5
        h5.fw-medium.fs-20.text-truncate=name
        span.fw-medium.fs-20=price
      dl.fs-15.mb-4
        dt.fw-normal=category
        dd.text-description=grammage
      .d-flex.justify-content-between
        .input-group.product-counter.mw-77
          button.btn.btn-counter.border-end-0.p-2.minus -
          input.form-control.bg-transparent.border-gray-light.border-end-0.border-start-0.px-0.text-center(type="number" value="1" min="1")
          button.btn.btn-counter.border-start-0.p-2.plus +
        button.btn.btn-danger.text-white Add to Cart

mixin newsCard(emoji, date, title, description)
  a.card.fw-light.flex-shrink-0.text-decoration-none.opacity-75-hover(href="#")
    .card-body.pt-2.ps-3.pe-5.pb-5
      .d-flex.column-gap-3
        span.fs-23=emoji
        .d-flex.flex-column.pt-1.ps-1
          .d-flex.fs-md-14.fs-12.ls-1.mb-3
            span.text-danger.text-uppercase.me-2 News
            time=date
          dl
            dt.fs-md-22.fs-18.fw-semibold.ls-1.lh-1.mb-3=title
            dd.text-black.opacity-70.fs-md-20.fs-16.ls-1.lh-1=description